<div class="container" [@visibilityChanged]="isVisibleCreators">
  <h2 class="text-center">Project Creators</h2>
  <div class="row">
    <div class="col-md-4 text-center well well-sm">
      <h3>Kaloyan Yanev</h3>
      <p>GitHub Profile: <a href="https://github.com/Kalito98">Kalito98</a></p>
      <p>TelerikAcademy Profile: <a href="https://telerikacademy.com/Users/Kalito98">Kalito98</a></p>
    </div>
    <div class="col-md-4 text-center well well-sm">
      <h3>Lyubomir Rumenov</h3>
      <p>GitHub Profile: <a href="https://github.com/Def4l71diot">Def4l71diot</a></p>
      <p>TelerikAcademy Profile: <a href="https://telerikacademy.com/Users/Lyubomir.R">Lyubomir.R</a></p>
    </div>
    <div class="col-md-4 text-center well well-sm">
      <h3>Alexander Yankov</h3>
      <p>GitHub Profile: <a href="https://github.com/ultron1251">ultron1251</a></p>
      <p>TelerikAcademy Profile: <a href="https://telerikacademy.com/Users/snowflake2513">snowflake2513</a></p>
    </div>
  </div>
</div>
<div class="text-center" [@visibilityChanged]="isVisibleTelerikLogo">
  <h2><b>Project assignment for</b></h2>
  <a href="http://academy.telerik.com/">
    <img src="../../assets/images/about/telerikacademy.png" alt="TelerikAcademy" height="300px">
  </a>
</div>
<div class="text-center" [@visibilityChanged]="isVisibleAngularLogo">
  <h2><b>Powerd by</b></h2>
  <a href="https://angular.io/">
    <img src="../../assets/images/about/angular.png" alt="Angular">
  </a>
</div>
