<form (ngSubmit)="createCard()" method="POST">
    <div class="form-group">
        <input class="form-control" type="text" name="name" [(ngModel)]="card.name" placeholder="Enter hero power name:">
        <input class="form-control" type="text" name="manaCost" [(ngModel)]="card.manaCost" placeholder="Enter mana cost:">
        <input class="form-control" type="text" name="description" [(ngModel)]="card.description" placeholder="Enter description:">
        <input class="form-control" type="text" name="pictureUrl" [(ngModel)]="card.pictureUrl" placeholder="Enter picture url:">
    </div>
    <button type="submit" class="btn btn-default">Create</button>
</form>