<h1 *ngIf="!cards.length">I do not have any cards</h1>
<div *ngIf="cards.length">
  <h1>My cards:</h1>
  <div class="col-md-12">
    <div class="col-md-2 cards-list" *ngFor="let card of cards">
      <div class="thumbnail">
        <img routerLink="/cards/{{card._id}}" class="card-image" src="{{card.pictureUrl}}" alt="{{card.name}}" appCardHighlight>
        <div class="caption">
          <h3>{{card.name}}</h3>
          <h4>Type: {{card.type}}</h4>
          <h4 *ngIf="card.manaCost">Mana cost: {{card.manaCost}}</h4>
          <h4 *ngIf="card.health">Health: {{card.health}}</h4>
          <h4 *ngIf="card.attack">Attack: {{card.attack}}</h4>
          <h4 *ngIf="card.description" id="description">Description:
            <p [innerHTML]="card.description | markdownBold | markdownCursive"></p>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
