<div class="row">
  <div class="col-md-4">
    <h1>The cards of {{currentUser}}</h1>
    <div *ngFor="let card of cards" class="row">
      <div class="col-md-10">
        <div class="thumbnail">
          <img class="card-image" src="{{card.pictureUrl}}" alt="{{card.name}}">
          <div class="caption">
            <h3>{{card.name}}</h3>
            <h4>Type: {{card.type}}</h4>
            <h4>Mana cost: {{card.manaCost}}</h4>
            <h4>Health: {{card.health}}</h4>
            <h4>Attack: {{card.attack}}</h4>
            <h4>Description: <span [innerHTML]="card.description | markdownBold | markdownCursive"></span></h4>
            <p>
              <a class="btn btn-default" role="button" routerLink="/cards/{{card._id}}">View card details</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>