.card-image {
  height: 200px;
}

.cards-list {
  overflow: hidden
}

#description {
  height: 50px;
  width: 80%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.thumbnail {
  height: 550px;
}

