<div class="row">
    <div class="col-md-6 profile">
        <h1>Your profile</h1>
        <h2 *ngIf="error">{{error}}</h2>
        <div class="thumbnail">
            <img src="{{user.profilePictureUrl}}" alt="{{user.username}}'s profile picture" />
            <div class="caption">
                <a class="btn btn-default" role="button" routerLink="/profile/decks">View your decks</a>
                <a class="btn btn-default" role="button" routerLink="/profile/cards">View your cards</a>
            </div>
        </div>
    </div>
</div>