<div class="container">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. How to create a deck</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>Go to the <a routerLink="/cards">Cards</a> section</p>
          <p>Select the cards you want for your new deck</p>
          <p>Go to the <a routerLink="/deck-create">Create a deck</a> section</p>
          <p>Give the deck a name and select the desired deck class</p>
          <p>Click the button "Sumbit"</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. How to create a card</a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Go to the <a routerLink="/create-card">Create a card</a> section</p>
          <p>Select one of the given types of cards: Minion, Spell, Weapon or Hero Power</p>
          <p>Fill the forms with the needed Information</p>
          <p>Click the button "Create"</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Contact Support</a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <p>E-mail: teamvinkel@mail.bg</p>
        </div>
      </div>
    </div>
  </div>
  <p><strong>Note:</strong> Click on the linked heading text to expand or collapse accordion panels.</p>
</div>
